@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: #303030;
}

body {
    background-color: #303030;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
    border: none;
}

button {
    border: none;
}

.top_bar {
    background-color: #00ACF1;
    color: white;
    font-size: 24px;
    padding-left: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

main {
    height: calc(100vh - 50px);
    display: flex;
}

.left_bar {
    background-color: #424242;
    width: 70px;
    height: 100%;
    position: fixed;
}

.main {
    background-color: #303030;
    padding: 10px;
    flex: auto;
    color: white;
    margin-left: 70px;
    height: auto;
}

.item {
    color: white;

}

.item__top {
    background-color: #212121;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 18px;
}

.item__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #424242;
    text-transform: uppercase;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.item__count {
    font-size: 44px;
    margin-bottom: 20px;
    font-weight: bold;
}

.item__text {
    font-size: 20px;
}

.new_messages {
    margin-top: 10px;
    color: white;
}

.new_messages__title {
    background-color: #212121;
    height: 50px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.new_messages__content {
    background-color: #424242;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle_time {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}

svg {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    shape-rendering:geometricPrecision;
    text-rendering:geometricPrecision;
    image-rendering:optimizeQuality;
    fill-rule:evenodd;
    clip-rule:evenodd;
}

.icon {
    fill: #C9C9C9;
    position:relative;
    display:inline-block;
    width:100%;
    height:40px;
}

.active-icon {
    fill: #28B0F6;
}

.stream {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #424242;
    margin-bottom: 10px;
    color: white;
    width: 100%;
}

.stream__name {
    margin-right: 20px;
}

button {
    cursor: pointer;
}

.spoiler-group {
    background-color: #303030;
}

.spoiler {
    color: #C9C9C9;
    display: flex;
    background-color: #212121;
    width: 100%;
    align-items: center;
    border: none;
    justify-content: space-between;
    padding-left: 15px;
}

.spoiler-border {
    margin-top: 10px;
}

.arrow {
    fill: #C9C9C9;
    position:relative;
    display:inline-block;
    width:60px;
    height:60px;
    transform: rotate(-90deg);
    transition: 0.3s;
    cursor: pointer;
}

.arrow-show {
    transform: rotate(90deg);
}

.spoiler>span {
    font-size: 24px;
}

.spoiler__content {
    background-color: #424242;
    padding: 20px;
}

.read_message {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.read_inputs {
    display: flex;
    width: fit-content;
    margin-bottom: 20px;
}

.read_input {
    background-color: #212529;
    border: none;
    color: white;
    margin-right: 5px;
    border-radius: 5px;
    width: 400px;
    padding: 0 15px;
}

.read_input::placeholder {
    color: #f1f1f1;
}

.read_btn {
    background-color: #212529;
    border: none;
    color: white;
    border-radius: 5px;
    height: 38px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.read_message label {
    width: fit-content;
}

.read_text {
    background-color: #212529;
    border: none;
    resize: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.consumer {
    border: 1px solid #212529;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.cross {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.consumer-info {
    border: 1px solid #212529;
    border-top: none;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.spinner {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
}

.spinner:after {
    animation: changeContent .8s linear infinite;
    display: block;
    content: "⠋";
    font-size: 40px;
}

@keyframes changeContent {
    10% { content: "⠙"; }
    20% { content: "⠹"; }
    30% { content: "⠸"; }
    40% { content: "⠼"; }
    50% { content: "⠴"; }
    60% { content: "⠦"; }
    70% { content: "⠧"; }
    80% { content: "⠇"; }
    90% { content: "⠏"; }
}
